set pagination off

target remote localhost:3333

define xxd
    dump  binary memory /tmp/dump.bin $arg0 $arg0+$arg1
    shell xxd /tmp/dump.bin
end

define restart
    file mcu/opengdemu/target/thumbv7m-none-eabi/release/opengdemu
    monitor reset halt
    load
    monitor reset halt
end

define restart-debug
    file mcu/opengdemu/target/thumbv7m-none-eabi/debug/opengdemu
    monitor reset halt
    load
    monitor reset halt
end

# Useful breakpoints for debugging
# break HardFault_Handler
# break DefaultHandler
