[flash]
size is 1M
default is 0
region at 0x005000 is [root certificates]

[root certificates]
type is root certificates
schema is 2
size is 4K
default is 0xff
file is Tools/root_certificate_downloader/binary/BaltimoreCyberTrustRoot.cer
file is Tools/root_certificate_downloader/binary/DigiCert.cer
file is Tools/root_certificate_downloader/binary/DigiCertSHA2.cer
file is Tools/root_certificate_downloader/binary/EnTrust.cer
file is Tools/root_certificate_downloader/binary/GeoTrust.cer
file is Tools/root_certificate_downloader/binary/GlobalSignRoot.cer
file is Tools/root_certificate_downloader/binary/GlobalSignRoot2.cer
file is Tools/root_certificate_downloader/binary/GTSGIAG3.cer
file is Tools/root_certificate_downloader/binary/NMA_Root.cer
file is Tools/root_certificate_downloader/binary/PROWL_Root.cer
file is Tools/root_certificate_downloader/binary/QuoVadis_Root.cer
file is Tools/root_certificate_downloader/binary/VeriSign.cer