[flash]
size is 1M
default is 0
region at 0x000000 is [boot firmware]
region at 0x001000 is [control sector]
region at 0x003000 is [pll table]
region at 0x003800 is [gain table]
region at 0x005000 is [root certificates]
region at 0x006000 is [tls certificates]
region at 0x008000 is [connection parameters]
region at 0x009000 is [downloader firmware]
region at 0x00b000 is [wifi firmware]
region at 0x055000 is [http files]
region at 0x057000 is [ble firmware]
region at 0x07f000 is [blank]

[ota]
size is 472K
default is 0
region is [downloader firmware]
region at 0x002000 is [wifi firmware]
region at 0x04c000 is [http files]
region at 0x04e000 is [ble firmware]

[boot firmware]
type is firmware
schema is 2
file is ../../boot_firmware/release3400/boot_firmware.bin
prefix is NMIS

[control sector]
type is control
schema is 2
image1 at 0x009000 is [wifi firmware]
image2 at 0x080000

[pll table]
type is pll table
schema is 2
frequency offset is 0x5a0

[gain table]
type is gain table
schema is 2
table is [gain table 1]

[gain table 1]
# Define a WiFi DG Gain for each WIFI channel (1-14)
# Channels:                                  1  2  3  4  5  6  7  8  9  10  11  12  13  14
wifi gain at 1 is                           -14,-14,-14,-14,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at 2 is                           -14,-14,-14,-14,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at 5.5 is                         -12,-12,-12,-12,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at 11 is                          -13,-13,-13,-13,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at 6 is                           -12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12
wifi gain at 9 is                           -12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12
wifi gain at 12 is                          -12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12
wifi gain at 18 is                          -12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12
wifi gain at 24 is                          -12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12
wifi gain at 36 is                          -12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12,-12
wifi gain at 48 is                          -13,-13,-13,-13,-13,-13,-13,-13,-13,-13,-13,-13,-13,-13
wifi gain at 54 is                          -15,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at MCS0 is                        -12,-12,-12,-12,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at MCS1 is                        -12,-12,-12,-12,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at MCS2 is                        -12,-12,-12,-12,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at MCS3 is                        -12,-12,-12,-12,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at MCS4 is                        -12,-12,-12,-12,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at MCS5 is                        -12,-12,-12,-12,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at MCS6 is                        -14,-14,-14,-14,-15,-15,-15,-15,-15,-15,-15,-15,-15,-15
wifi gain at MCS7 is                        -15,-15,-15,-15,-16,-16,-16,-16,-16,-16,-16,-16,-16,-16

# Define a WiFi PA and PPA for each WIFI channel (1-14)
# Channels:                                  1  2  3  4  5  6  7  8  9  10  11  12  13  14
wifi pa at 1 is                              18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at 2 is                              18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at 5.5 is                            18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at 11 is                             18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at 6 is                              18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at 9 is                              18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at 12 is                             18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at 18 is                             18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at 24 is                             18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at 36 is                             18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at 48 is                             18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at 54 is                             18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at MCS0 is                           18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at MCS1 is                           18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at MCS2 is                           18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at MCS3 is                           18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at MCS4 is                           18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at MCS5 is                           18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at MCS6 is                           18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi pa at MCS7 is                           18,18,18,18,18,18,18,18,18,18,18,18,18,18
wifi ppa at 1 is                             15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at 2 is                             15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at 5.5 is                           15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at 11 is                            15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at 6 is                             15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at 9 is                             15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at 12 is                            15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at 18 is                            15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at 24 is                            15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at 36 is                            15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at 48 is                            15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at 54 is                            15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at MCS0 is                          15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at MCS1 is                          15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at MCS2 is                          15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at MCS3 is                          15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at MCS4 is                          15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at MCS5 is                          15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at MCS6 is                          15,15,15,15,15,15,15,15,15,15,15,15,15,15
wifi ppa at MCS7 is                          15,15,15,15,15,15,15,15,15,15,15,15,15,15

# Define a DG Gain for each BLE channel (0-39)
# Channels:    0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39
ble gain is   -6.5,-6.5,-6.5,-6.5,-6.5,-6.5,-6.5,-6.5,-6.5,-6.5,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7

#Define a PA and PPA for each BLE channel (0-39)
# Channels:    0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39
ble pa is      6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
ble ppa is     6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6

[root certificates]
type is root certificates
schema is 2
size is 4K
default is 0xff

file is ../../Tools/root_certificate_downloader/binary/BaltimoreCyberTrustRoot.cer
file is ../../Tools/root_certificate_downloader/binary/DigiCert.cer
file is ../../Tools/root_certificate_downloader/binary/DigiCertSHA2.cer
file is ../../Tools/root_certificate_downloader/binary/EnTrust.cer
file is ../../Tools/root_certificate_downloader/binary/GeoTrust.cer
file is ../../Tools/root_certificate_downloader/binary/GlobalSignRoot.cer
file is ../../Tools/root_certificate_downloader/binary/GlobalSignRoot2.cer
file is ../../Tools/root_certificate_downloader/binary/GTSGIAG3.cer
file is ../../Tools/root_certificate_downloader/binary/NMA_Root.cer
file is ../../Tools/root_certificate_downloader/binary/PROWL_Root.cer
file is ../../Tools/root_certificate_downloader/binary/QuoVadis_Root.cer
file is ../../Tools/root_certificate_downloader/binary/VeriSign.cer

Set RSA certificate and key.
[rsa chain]
type is tls certificate chain
cert is ../../tls_cert_store/winc_rsa.cer
key is ../../tls_cert_store/winc_rsa.key

Set ECDSA certificate (key is held externally).
[ecdsa chain]
type is tls certificate chain
cert is ../../tls_cert_store/winc_ecdsa.cer

Set local RSA and/or ECDSA certificates.
[tls certificates]
type is tls certificates
schema is 2
chain is [rsa chain]
chain is [ecdsa chain]

By default, no local certificates.
[tls certificates]
type is erased

[connection parameters]
type is erased

[downloader firmware]
type is firmware
schema is 2
file is ../../downloader_firmware/release3400/downloader_firmware.bin
prefix is NMIS

[wifi firmware]
type is firmware
schema is 2
file is ../../firmware/wifi_v111/ASIC_3400/wifi_firmware.bin
prefix is NMIS

[http files]
type is http files
filename length is 32
schema is 1
size is 8K
default is 0xff
file is ../../provisioning_webpage/default.html
file is ../../provisioning_webpage/style.css
file is ../../provisioning_webpage/favicon.ico
file is ../../provisioning_webpage/logo.png
file is ../../provisioning_webpage/error.json
file is ../../provisioning_webpage/scanresults.json
file is ../../provisioning_webpage/ok.json

[ble firmware]
type is firmware
schema is 3
file is ../../ble/bt_firmware/fw.bin
prefix is BTFW

[blank]
type is erased
